*{
    margin: 0;
    padding: 0;
}

h1{
    border: 1px solid black;
    padding: 10px;
    background: green;
    color: white;
}

button{
    /* padding: 10px; */
    /* padding: 5px 20px; */
    padding: 5px 15px 10px 30px;
    padding-top: 50px;
}